.cabeza {
  border: solid 0px #89a072;
  text-align: center;
  height: 60px;
  margin-top: 10px;
  padding: 20px 0px 0px 0px; }

#car {
  width: 25px;
  vertical-align: sub; }

.article {
  display: grid;
  grid-template-columns: 450px;
  border: solid 0px #008b07;
  margin: 10px; }

h1 {
  font-size: 40px;
  font-family: sans-serif; }

p {
  font-size: 17px;
  font-family: sans-serif; }

.box1 {
  display: grid;
  grid-template-columns: auto auto;
  margin: 11px;
  background-color: rgba(128, 128, 128, 0.438); }

#logo {
  width: 10%;
  margin-right: 4mm;
  margin-left: 4mm;
  padding-left: 200px;
  padding-right: 200px; }

.imagen1 {
  border: solid 0px #2b2ee2;
  width: auto;
  margin-top: 10px;
  margin-bottom: 10px; }

img {
  width: 100%; }

.box2 {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(128, 128, 128, 0.438);
  margin-top: 100pt; }

h2 {
  font-size: 20px;
  font-family: sans-serif; }

.article2 {
  display: grid;
  grid-template-columns: 400px;
  border: solid 0px black;
  margin: 10px; }

.img2 {
  border: solid 0px goldenrod;
  width: auto;
  margin-top: 9px;
  margin-bottom: 10px; }

button {
  width: 180px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: 0px solid #007bff;
  border-radius: 10px;
  margin-bottom: 8px;
  margin-top: 4px; }

#button1 {
  width: 180px;
  height: 40px;
  background-color: #007bff;
  color: white;
  border: 0px solid #007bff;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 5px; }

.modulo1 {
  width: 100px;
  height: 100px;
  border: 0px solid chocolate; }

.mo1 {
  display: grid;
  grid-template-columns: auto auto;
  width: 130px;
  height: 45px;
  margin: 1.25rem 0 0;
  align-items: center;
  border: 0px solid greenyellow; }

.icono1 {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  margin-right: .625rem; }

span {
  flex: 1 1 100%;
  font-size: 15px;
  width: 40px; }

.modulo2 {
  width: 100px;
  height: 100px;
  border: 0px solid darkblue; }

.mo2 {
  display: grid;
  grid-template-columns: auto auto;
  width: 150px;
  height: 45px;
  margin: 1.25rem 0 0;
  align-items: center;
  border: 0px solid greenyellow; }

.icono2 {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  margin-right: .625rem; }

.modulo3 {
  width: 100px;
  height: 100px;
  border: 0px solid springgreen; }

.mo3 {
  display: grid;
  grid-template-columns: auto auto;
  width: 150px;
  height: 45px;
  margin: 1.25rem 0 0;
  align-items: center;
  border: 0px solid greenyellow; }

.icono3 {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  margin-right: .625rem; }

.modulo4 {
  width: 100px;
  height: 100px;
  border: 0px solid turquoise; }

.mo4 {
  display: grid;
  grid-template-columns: auto auto;
  width: 150px;
  height: 45px;
  margin: 1.25rem 0 0;
  align-items: center;
  border: 0px solid greenyellow; }

.icono4 {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  margin-right: .625rem; }

.modulo5 {
  width: 100px;
  height: 100px;
  border: 0px solid salmon; }

.mo5 {
  display: grid;
  grid-template-columns: auto auto;
  width: 150px;
  height: 45px;
  margin: 1.25rem 0 0;
  align-items: center;
  border: 0px solid greenyellow; }

.icono5 {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  margin-right: .625rem; }

.modulo6 {
  width: 100px;
  height: 100px;
  border: 0px solid red; }

.mo6 {
  display: grid;
  grid-template-columns: auto auto;
  width: 150px;
  height: 45px;
  margin: 1.25rem 0 0;
  align-items: center;
  border: 0px solid greenyellow; }

.icono6 {
  flex: 0 0 1.875rem;
  width: 1.875rem;
  margin-right: .625rem; }

.box3 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  background-color: white; }

/*# sourceMappingURL=pg.css.map */
